{% extends 'team/layout.html.twig' %}
{% block title %}
    Équipe: {{ team.name }}
{% endblock %}
{% block content %}
    <div class="card flex-y">
        <h1>{{ team.name }}</h1>
        <div>
            <span>Pays: {{ team.country.name }} <img class="logo-s" src="/images/{{ team.country.logo }}" alt="Logo de {{ team.country.name }}" /></span>
            <br />
            <span>Date de création: {{ formatedDate }}</span>
            <p>Président: {{ team.president }}</p>
            <p>Entraîneur: {{ team.coach }}</p>
        </div>
        <img class="logo-l" src="/images/{{ team.logo }}" alt="Logo de {{ team.name }}" />
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="flex-x">
            <a class="btn btn-secondary" href="{{ path('update_team', {'id': team.id}) }}">Modifier</a>
            <a class="btn btn-danger" href="{{ path('delete_team', {'id': team.id}) }}" onclick="return confirm('Es-tu sûr(e) de vouloir supprimer cet élément ?');">Suprimmer</a>
        </div>
    {% endif %}
{% endblock %}