{% extends 'country/layout.html.twig' %}
{% block title %}
    Pays: {{ country.name }}
{% endblock %}
{% block content %}
    <div class="card flex-y">
        <h1>{{ country.name }}</h1>
        <img class="logo-l" src="/images/{{ country.logo }}" alt="Logo de {{ country.name }}" />
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="flex-x">
            <a class="btn btn-secondary" href="{{ path('update_country', {'id': country.id}) }}">Modifier</a>
            <a class="btn btn-danger" href="{{ path('delete_country', {'id': country.id}) }}" onclick="return confirm('Es-tu sûr(e) de vouloir supprimer cet élément ?');">Suprimmer</a>
        </div>
    {% endif %}
{% endblock %}