{% extends 'championship/layout.html.twig' %}

{% block title %}Classement du championnat: {{ championship.name }}{% endblock %}
{% block content %}
    <h1>Classement du championnat: {{ championship.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Équipe</th>
                <th>Points marqués</th>
                <th>Points encaissés</th>
            </tr>
        </thead>
        <tbody>
            {% for team in ranking %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ team.name }} <img class="logo-s" src="/images/{{ team.logo }}" alt="Logo de {{ team.name }}" /></td>
                    <td>{{ team.pointsWon }}</td>
                    <td>{{ team.pointsLost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}