<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="flex-x">
            <nav class="flex-x gap-0">
                <a class="nav-link" href="{{ path('championships') }}">Liste des championnats</a>
                <a class="nav-link" href="{{ path('teams') }}">Liste des équipes</a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="nav-link" href="{{ path('countries') }}">Liste des pays</a>
                {% endif %}
                {% block navlinks %}
                    
                {% endblock %}
            </nav>
            <nav class="flex-x">
                {% if is_granted("ROLE_USER") %}
                    <a class="btn btn-primary" href="/logout">Se déconnecter</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="btn btn-secondary" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
            </nav>
        </header>
        {% block body %}{% endblock %}
        <script type="text/js">
            const navLinks = document.querySelectorAll('.nav-link');

            for(const link of navLinks) {
                if(link.getAttribute('href') === window.location.pathname) {
                    link.classList.add("nav-link-active");
                }
            }
        </script>
    </body>
</html>
